$main-font: "Circe-Regular", "Roboto", Helvetica, "Open Sans", Arial, sans-serif, serif;

// Colors
$titleColor: #626588;
$textColor: #5f6465;
$buttonColor: #32abaa;
$buttonColor2: #4ec4be;
$buttonActiveColor: #eeaebd;
$delimColor: #f0f0ed;

//Font Size
$lowTextSize: 18px;
$baseTextSize: 22px;
$textSize: 24px;
$middleTextSize: 28px;
$titleSize: 48px;
$subtitleSize: 32px;
$triggers2Size: 36px;